@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container-min] {
  max-width: 66.875rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}

[class$=__container-max] {
  max-width: 75rem;
  padding-inline: 1.25rem;
  margin: 0 auto;
}

.button {
  color: #1a4d2e;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 1.2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-inline: 0.9375rem;
  padding-block: 0.625rem;
  border-radius: 0.625rem;
  background-color: beige;
  -webkit-box-shadow: 0 0 0.1875rem transparent;
          box-shadow: 0 0 0.1875rem transparent;
  -webkit-transition: background-color 0.4s, color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: transparent;
    color: inherit;
    -webkit-box-shadow: 0 0 0.1875rem #e8dfca;
            box-shadow: 0 0 0.1875rem #e8dfca;
  }
}

.header {
  background-color: #1a4d2e;
  color: beige;
  line-height: 1.44;
  letter-spacing: -0.01rem;
  padding-block: 1.25rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header::before {
  content: "";
  width: 100%;
  height: 5.3125rem;
  background-color: inherit;
  position: absolute;
  left: 0;
  top: 0;
}
.header__container-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  position: relative;
}
@media (min-width: 767.98px) {
  .header__container-max {
    padding-inline: 2.5rem;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem 1.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 767.98px) {
  .header__menu {
    font-size: 1.25rem;
    row-gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100svh;
    background-color: #1a4d2e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 7.5rem 1.875rem 1.875rem;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
  }
  .header__menu._open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 767.98px) {
  .navigation {
    overflow-y: auto;
    width: 100%;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem 1.5rem;
}
@media (max-width: 767.98px) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.625rem;
    row-gap: 2rem;
    -webkit-padding-after: 0.9375rem;
            padding-block-end: 0.9375rem;
  }
}
.navigation__link {
  position: relative;
}
.navigation__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #e8dfca;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
@media (any-hover: hover) {
  .navigation__link:hover::after {
    width: 100%;
  }
}
@media (any-hover: none) {
  .navigation__link:active::after {
    width: 100%;
  }
}

.burger-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 0.1875rem;
  position: relative;
  z-index: 5;
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  content: "";
  height: 0.1875rem;
  width: 100%;
  background-color: #e8dfca;
  border-radius: 0.3125rem;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: position 0.4s, -webkit-transform 0.4s, -webkit-box-align 0.4s;
  transition: position 0.4s, -webkit-transform 0.4s, -webkit-box-align 0.4s;
  transition: transform 0.4s, align-items 0.4s, position 0.4s;
  transition: transform 0.4s, align-items 0.4s, position 0.4s, -webkit-transform 0.4s, -webkit-box-align 0.4s, -ms-flex-align 0.4s;
}
.burger-btn span {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}
.burger-btn._active {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
.burger-btn._active span {
  width: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.burger-btn._active::before, .burger-btn._active::after {
  -webkit-transition: position 0.2s, -webkit-transform 0.4s;
  transition: position 0.2s, -webkit-transform 0.4s;
  transition: position 0.2s, transform 0.4s;
  transition: position 0.2s, transform 0.4s, -webkit-transform 0.4s;
  position: absolute;
}
.burger-btn._active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-btn._active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 767.98px) {
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  width: 11.625rem;
  height: 2.8125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 5;
}