@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container-min] {
  max-width: 67.5rem;
  padding-inline: 0.625rem;
  margin: 0 auto;
}

[class$=__container-max] {
  max-width: 75rem;
  padding-inline: 1.25rem;
  margin: 0 auto;
}

.button {
  color: #1a4d2e;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  letter-spacing: -0.02rem;
  line-height: 1.2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-inline: 0.9375rem;
  padding-block: 0.625rem;
  border-radius: 0.625rem;
  background-color: beige;
  -webkit-box-shadow: 0 0 0.1875rem transparent;
          box-shadow: 0 0 0.1875rem transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  -webkit-transition: background-color 0.4s, color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, color 0.4s, -webkit-box-shadow 0.4s;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s;
  transition: background-color 0.4s, color 0.4s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
}
.button::first-letter {
  text-transform: capitalize;
}
.button.button--icon::after {
  content: "";
  width: 1.25em;
  height: 1.25em;
  background-color: #1a4d2e;
  -webkit-mask: url(../img/icons/arrow.svg) center/contain no-repeat;
          mask: url(../img/icons/arrow.svg) center/contain no-repeat;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: transparent;
    color: inherit;
    -webkit-box-shadow: 0 0 0.1875rem #e8dfca;
            box-shadow: 0 0 0.1875rem #e8dfca;
  }
  .button:hover.button--icon::after {
    background-color: #090909;
  }
}

.header-block__title {
  font-size: 4rem;
  font-weight: 700;
  text-wrap: balance;
  color: #090909;
}
@media (max-width: 430px) {
  .header-block__title {
    font-size: 2.375rem;
  }
}
.header-block__title, .header-block__text {
  text-align: center;
}
.header-block__text {
  font-family: "Inter", sans-serif;
  font-size: 1.375rem;
}
@media (max-width: 430px) {
  .header-block__text {
    font-size: 1.125rem;
  }
}

.product-card {
  padding: 2.5rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 1.25rem;
  border: 0.0625rem solid rgba(27, 27, 27, 0.08);
  -webkit-box-shadow: 0 0.25rem 6.5rem 0 #202b13;
          box-shadow: 0 0.25rem 6.5rem 0 #202b13;
}
@media (min-width: 430px) and (max-width: 810px) {
  .product-card {
    padding: 1.75rem 0.4375rem;
  }
}
.product-card__image-link {
  width: 90.5882352941%;
  height: 90.5882352941%;
  border-radius: 5rem;
  overflow: hidden;
}
.product-card__image-link .product-card__image {
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
@media (any-hover: hover) {
  .product-card__image-link:hover .product-card__image {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
}
.product-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 308/308;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.product-card__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.6875rem;
}
.product-card__title {
  font-size: 1.625rem;
  line-height: 1.39;
  color: #090909;
  position: relative;
}
.product-card__title::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #1a4d2e;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
@media (any-hover: hover) {
  .product-card__title:hover::after {
    width: 100%;
  }
}
@media (any-hover: none) {
  .product-card__title:active::after {
    width: 100%;
  }
}
@media (min-width: 430px) and (max-width: 810px) {
  .product-card__title {
    font-size: 1.1875rem;
  }
}
.product-card__text {
  font-family: "Inter", sans-serif;
  line-height: 1.44;
  letter-spacing: -0.01rem;
  text-align: center;
  color: #1a4d2e;
}
@media (min-width: 430px) and (max-width: 810px) {
  .product-card__text {
    font-size: 0.75rem;
    letter-spacing: -0.007125rem;
  }
}
.product-card__link {
  justify-self: flex-end;
}
@media (min-width: 430px) and (max-width: 810px) {
  .product-card__link {
    padding: 0.4375rem 0.625rem;
    letter-spacing: -0.01425rem;
    font-size: 0.75rem;
    border-radius: 0.4375rem;
  }
}

.section-top {
  background-color: #1a4d2e;
}
.section-top__container-min {
  padding-block: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.875rem 0.5625rem;
}
@media (max-width: 61.99875rem) {
  .section-top__container-min {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.section-top__image-wrapper {
  border-radius: 1.5rem;
  overflow: hidden;
  width: 31.6875rem;
  height: 31.6875rem;
  position: relative;
}
@media (max-width: 61.99875rem) {
  .section-top__image-wrapper {
    width: 21.5rem;
    height: 21.5rem;
  }
}
@media (max-width: 26.87375rem) {
  .section-top__image-wrapper {
    width: 16.875rem;
    height: 16.875rem;
  }
}
.section-top__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 507/507;
}
@media (max-width: 61.99875rem) {
  .section-top__image {
    aspect-ratio: 344/344;
  }
}
@media (max-width: 26.87375rem) {
  .section-top__image {
    aspect-ratio: 270/270;
  }
}
.section-top__header {
  max-width: 52.4528301887%;
  color: #f5efe6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}
@media (max-width: 61.99875rem) {
  .section-top__header {
    max-width: 42.625rem;
  }
}
.section-top__header .header-block__title {
  color: inherit;
}
@media (min-width: 810px) {
  .section-top__header .header-block__title {
    font-size: 5.625rem;
    line-height: 1;
    padding-inline: 0.625rem;
  }
}
.section-top__header .header-block__text {
  font-family: "DM Sans", sans-serif;
  font-size: 1.625rem;
  line-height: 1.38;
  max-width: 39.5rem;
}
@media (max-width: 430px) {
  .section-top__header .header-block__text {
    font-size: 1rem;
    line-height: 1.438;
    letter-spacing: -0.01rem;
  }
}

.header {
  background-color: #1a4d2e;
  color: beige;
  line-height: 1.44;
  letter-spacing: -0.01rem;
  padding-block: 1.25rem;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
}
.header::before {
  content: "";
  width: 100%;
  height: 5.3125rem;
  background-color: inherit;
  position: absolute;
  left: 0;
  top: 0;
}
.header__container-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  position: relative;
}
@media (min-width: 767.98px) {
  .header__container-max {
    padding-inline: 2.5rem;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem 1.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu .button {
  text-transform: capitalize;
}
@media (max-width: 767.98px) {
  .header__menu {
    font-size: 1.25rem;
    row-gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100svh;
    background-color: #1a4d2e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 7.5rem 1.875rem 1.875rem;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
  }
  .header__menu._open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (max-width: 767.98px) and (max-width: 767.98px) {
  .header__menu .header__navigation {
    overflow-y: auto;
    width: 100%;
  }
}
@media (max-width: 767.98px) and (max-width: 767.98px) {
  .header__menu .header__navigation .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.625rem;
    row-gap: 2rem;
    -webkit-padding-after: 0.9375rem;
            padding-block-end: 0.9375rem;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.9375rem 1.5rem;
}
.navigation__link {
  text-transform: capitalize;
  position: relative;
}
.navigation__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #e8dfca;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
@media (any-hover: hover) {
  .navigation__link:hover::after {
    width: 100%;
  }
}
@media (any-hover: none) {
  .navigation__link:active::after {
    width: 100%;
  }
}

.burger-btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  row-gap: 0.1875rem;
  position: relative;
  z-index: 5;
}
.burger-btn::before, .burger-btn::after,
.burger-btn span {
  content: "";
  height: 0.1875rem;
  width: 100%;
  background-color: #e8dfca;
  border-radius: 0.3125rem;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: position 0.4s, -webkit-transform 0.4s, -webkit-box-align 0.4s;
  transition: position 0.4s, -webkit-transform 0.4s, -webkit-box-align 0.4s;
  transition: transform 0.4s, align-items 0.4s, position 0.4s;
  transition: transform 0.4s, align-items 0.4s, position 0.4s, -webkit-transform 0.4s, -webkit-box-align 0.4s, -ms-flex-align 0.4s;
}
.burger-btn span {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-transition: width 0.6s;
  transition: width 0.6s;
}
.burger-btn._active {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
.burger-btn._active span {
  width: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}
.burger-btn._active::before, .burger-btn._active::after {
  -webkit-transition: position 0.2s, -webkit-transform 0.4s;
  transition: position 0.2s, -webkit-transform 0.4s;
  transition: position 0.2s, transform 0.4s;
  transition: position 0.2s, transform 0.4s, -webkit-transform 0.4s;
  position: absolute;
}
.burger-btn._active::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-btn._active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (max-width: 767.98px) {
  .burger-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo {
  width: 11.625rem;
  height: 2.8125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 5;
}

.hero {
  background-color: #1a4d2e;
}
.hero__container-min {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.5625rem;
  padding-block: 6.625rem 2rem;
}
@media (max-width: 810px) {
  .hero__container-min {
    row-gap: 2rem;
    -webkit-padding-after: 1.375rem;
            padding-block-end: 1.375rem;
  }
}
.hero__header {
  color: #f5efe6;
}
.hero__header > *:not(:last-child) {
  margin-bottom: 1rem;
}
.hero__header .header-block__title {
  font-size: 5.625rem;
  line-height: 1;
  color: #f5efe6;
}
@media (max-width: 810px) {
  .hero__header .header-block__title {
    font-size: 4rem;
  }
}
@media (max-width: 430px) {
  .hero__header .header-block__title {
    font-size: 3.125rem;
  }
}
.hero__header .header-block__text {
  max-width: 33.4375rem;
  margin: 0 auto;
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: -0.0495rem;
}
.hero__image-wrapper {
  max-width: 31.6875rem;
  max-height: 31.6875rem;
}
@media (max-width: 767.98px) {
  .hero__image-wrapper {
    -ms-flex-negative: 1;
        flex-shrink: 1;
    max-width: 24.625rem;
    max-height: 24.625rem;
  }
}
.hero__image {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.specialties {
  margin-top: -9.625rem;
  background-color: #fff;
}
.specialties__container-min {
  padding-block: 11.5rem 4.1875rem;
}
@media (max-width: 810px) {
  .specialties__container-min {
    padding-block: 9.625rem 2.6875rem;
    margin-top: -6.25rem;
  }
}
@media (max-width: 810px) {
  .specialties__container-min {
    -webkit-padding-after: 1.4375rem;
            padding-block-end: 1.4375rem;
  }
}
.specialties__header:not(:last-child) {
  margin-bottom: 4rem;
}
.specialties__header > *:not(:last-child) {
  margin-bottom: 1.25rem;
}
.specialties__header .header-block__title {
  line-height: 0.93;
}
.specialties__header .header-block__text {
  max-width: 33.4375rem;
  margin: 0 auto;
  color: #1a4d2e;
  font-weight: 700;
  line-height: 1.41;
  letter-spacing: -0.0495rem;
}
.specialties__collection, .menu__collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
  gap: 1.25rem;
}
@media (max-width: 810px) {
  .specialties__collection, .menu__collection {
    grid-template-columns: repeat(auto-fit, minmax(15.125rem, 1fr));
  }
}
@media (min-width: 430px) and (max-width: 810px) {
  .specialties__collection, .menu__collection {
    gap: 0.4375rem;
    padding-inline: 1.5625rem;
  }
}
@media (max-width: 767.98px) {
  .specialties__collection, .menu__collection {
    padding-inline: 2.1875rem;
  }
}

.location__container-min {
  padding-block: 3.125rem 7.75rem;
}
@media (max-width: 810px) {
  .location__container-min {
    -webkit-padding-after: 3.375rem;
            padding-block-end: 3.375rem;
  }
}
@media (max-width: 767.98px) {
  .location__container-min {
    padding-inline: 1.5rem;
    -webkit-padding-after: 2.9375rem;
            padding-block-end: 2.9375rem;
  }
}
.location__header:not(:last-child) {
  margin-bottom: 4rem;
}
@media (max-width: 810px) {
  .location__header:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767.98px) {
  .location__header:not(:last-child) {
    margin-bottom: 0.6875rem;
  }
}
.location__body {
  font-family: "Inter", sans-serif;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1.5rem;
  -webkit-box-shadow: 0 1rem 2rem -0.25rem rgba(12, 12, 13, 0.1), 0 0.25rem 0.25rem -0.25rem rgba(12, 12, 13, 0.1);
          box-shadow: 0 1rem 2rem -0.25rem rgba(12, 12, 13, 0.1), 0 0.25rem 0.25rem -0.25rem rgba(12, 12, 13, 0.1);
  gap: 2.5rem;
}
@media (max-width: 61.99875rem) {
  .location__body {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 810px) {
  .location__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.location__map {
  border-radius: 1.5rem;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0.2;
      -ms-flex-positive: 0.2;
          flex-grow: 0.2;
  -ms-flex-preferred-size: 43.4782608696%;
      flex-basis: 43.4782608696%;
  min-height: 24.4375rem;
}
@media (max-width: 430px) {
  .location__map {
    min-height: 18.375rem;
  }
}
.location__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53.4584980237%;
          flex: 1 1 53.4584980237%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem;
  line-height: 1.44;
  letter-spacing: -0.01rem;
  color: #090909;
}
@media (max-width: 61.99875rem) {
  .location__info {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
.location__address {
  -webkit-box-flex: 0;
      -ms-flex: 0 0.5 40.4805914972%;
          flex: 0 0.5 40.4805914972%;
  -webkit-padding-end: 1.25rem;
          padding-inline-end: 1.25rem;
  text-wrap: balance;
}
.location__address > * {
  margin-bottom: 0.75rem;
}
.location__address > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 810px) {
  .location__address {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 13.6875rem;
  }
}
.location__address-details {
  margin-bottom: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.location__address-title, .location__schedule-title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.0495rem;
}
.location__phone, .location__mail {
  position: relative;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.location__phone::after, .location__mail::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #1a4d2e;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
@media (any-hover: hover) {
  .location__phone:hover::after, .location__mail:hover::after {
    width: 100%;
  }
}
@media (any-hover: none) {
  .location__phone:active::after, .location__mail:active::after {
    width: 100%;
  }
}
@media (any-hover: hover) {
  .location__phone:hover, .location__mail:hover {
    color: #1a4d2e;
  }
}
.location__direction {
  font-weight: 600;
  color: #1a4d2e;
  text-decoration: underline;
}
@media (max-width: 810px) {
  .location__schedule {
    min-width: 17.625rem;
  }
}
.location__schedule-title:not(:last-child) {
  margin-bottom: 0.75rem;
}
.location__schedule-list > *:not(:last-child) {
  margin-bottom: 0.75rem;
}
.location__schedule-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.location__schedule-day {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.4375rem;
          flex: 0 0 5.4375rem;
}
.location__schedule-time > :nth-child(2) {
  display: block;
}

.menu__bottom {
  padding-block: 4rem 6.875rem;
}
@media (max-width: 810px) {
  .menu__bottom {
    -webkit-padding-after: 5.875rem;
            padding-block-end: 5.875rem;
  }
}
@media (max-width: 430px) {
  .menu__bottom {
    padding-block: 3.1875rem 6.1875rem;
  }
}
.menu__sort-form:not(:last-child) {
  margin-bottom: 4rem;
}
.menu__collection {
  row-gap: 4rem;
}
@media (max-width: 767.98px) {
  .menu__collection {
    padding-inline: 2.1875rem;
  }
}
@media (min-width: 430px) and (max-width: 810px) {
  .menu__collection {
    -webkit-column-gap: 0.4375rem;
       -moz-column-gap: 0.4375rem;
            column-gap: 0.4375rem;
  }
}
@media (max-width: 430px) {
  .menu__collection {
    row-gap: 1.25rem;
  }
}

.form-sort {
  padding-inline: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem 1.25rem;
  font-size: 1.625rem;
  line-height: 1.384;
  color: #090909;
}
@media (max-width: 26.87375rem) {
  .form-sort {
    padding-inline: 0.9375rem;
  }
}
.form-sort__checkbox {
  position: relative;
}
.form-sort__checkbox:has(:checked) {
  text-decoration: underline;
  color: #1a4d2e;
}
.form-sort__input {
  position: absolute;
  width: 0;
  height: 0;
  visibility: hidden;
}

.about .section-top__header .header-block__title {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.about .section-top__header .header-block__text > p + p:last-child {
  margin-top: 2.75rem;
}
@media (max-width: 767.98px) {
  .about .section-top__header .header-block__text > p + p:last-child {
    margin-top: 1.8125rem;
  }
}

.footer {
  background-color: #1a4d2e;
  color: #f5efe6;
  font-size: 0.875rem;
}
.footer__top {
  font-family: "Inter", sans-serif;
  padding-block: 2.5rem;
}
.footer__top .footer__container-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
@media (max-width: 767.98px) {
  .footer__top .footer__container-max {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 2.625rem;
  }
}
.footer__subscription {
  max-width: 23.875rem;
}
@media (max-width: 767.98px) {
  .footer__subscription {
    max-width: 100%;
  }
}
.footer__subscription-lable:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer__navigation {
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.footer__navigation .navigation__list {
  -webkit-column-gap: 3.4375rem;
     -moz-column-gap: 3.4375rem;
          column-gap: 3.4375rem;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767.98px) {
  .footer__navigation .navigation__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 767.98px) {
  .footer__navigation {
    -webkit-padding-end: 1.25rem;
            padding-inline-end: 1.25rem;
  }
}
.footer__bottom .footer__container-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.5rem 1.5rem;
  padding-block: 1.25rem;
}
@media (max-width: 430px) {
  .footer__bottom .footer__container-max {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-block: 1rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
  }
}

.form-subscription {
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
.form-subscription__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0.5625rem 0.75rem;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.2);
  letter-spacing: -0.02rem;
}
.form-subscription__input::-webkit-input-placeholder {
  color: inherit;
}
.form-subscription__input::-moz-placeholder {
  color: inherit;
}
.form-subscription__input:-ms-input-placeholder {
  color: inherit;
}
.form-subscription__input::-ms-input-placeholder {
  color: inherit;
}
.form-subscription__input::placeholder {
  color: inherit;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6875rem;
}
.social__link {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.125rem;
}
@media (any-hover: hover) {
  .social__link:hover .social__link-icon {
    fill: #f5efe6;
  }
}
@media (any-hover: none) {
  .social__link:active .social__link-icon {
    fill: #f5efe6;
  }
}
.social__link-icon {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  fill: rgba(255, 255, 255, 0.5);
  -webkit-transition: fill 0.4s;
  transition: fill 0.4s;
}