.hero {
    background-color: $greenColor;

    // .hero__container-min

    &__container-min {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(9);
        padding-block: toRem(106) toRem(32);
        @media (max-width: $tablet) {
            row-gap: toRem(32);
            padding-block-end: toRem(22);
        }
    }
    // .hero__header
    &__header {
        color: $whiteColor;

        & > *:not(:last-child) {
            margin-bottom: toRem(16);
        }
        & .header-block__title {
            font-size: toRem(90);
            line-height: 1;
            color: $whiteColor;
            @media (max-width: $tablet) {
                font-size: toRem(64);
            }
            @media (max-width: $smallMobile) {
                font-size: toRem(50);
            }
        }
        & .header-block__text {
            max-width: toRem(535);
            margin: 0 auto;
            font-weight: 700;
            line-height: 1.41;
            letter-spacing: toRem(-0.792);
        }
    }
    // .hero__image-wrapper

    &__image-wrapper {
        max-width: toRem(507);
        max-height: toRem(507);
        @media (max-width: $mobile) {
            flex-shrink: 1;
            max-width: toRem(394);
            max-height: toRem(394);
        }
    }

    // .hero__image

    &__image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
    }
}
.specialties {
    margin-top: toRem(-154);

    background-color: #fff;

    // .specialties__container-min

    &__container-min {
        padding-block: toRem(184) toRem(67);
        @media (max-width: $tablet) {
            padding-block: toRem(154) toRem(43);
            margin-top: toRem(-100);
        }
        @media (max-width: $tablet) {
            padding-block-end: toRem(23);
        }
    }

    // .specialties__header

    &__header {
        &:not(:last-child) {
            margin-bottom: toRem(64);
        }
        & > *:not(:last-child) {
            margin-bottom: toRem(20);
        }
        // .header-block__title

        & .header-block__title {
            line-height: 0.93;
        }

        // .header-block__text

        & .header-block__text {
            max-width: toRem(535);
            margin: 0 auto;
            color: $greenColor;
            font-weight: 700;
            line-height: 1.41;
            letter-spacing: toRem(-0.792);
        }
    }

    // .specialties__collection

    &__collection {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(toRem(340), 1fr));
        gap: toRem(20);
        @media (max-width: $tablet) {
            grid-template-columns: repeat(auto-fit, minmax(toRem(242), 1fr));
        }
        @media (min-width: $smallMobile) and (max-width: $tablet) {
            gap: toRem(7);
            padding-inline: toRem(25);
        }
        @media (max-width: $mobile) {
            padding-inline: toRem(35);
        }
    }
}
.location {
    // .location__container-min

    &__container-min {
        padding-block: toRem(50) toRem(124);
        @media (max-width: $tablet) {
            padding-block-end: toRem(54);
        }
        @media (max-width: $mobile) {
            padding-inline: toRem(24);
            padding-block-end: toRem(47);
        }
    }

    // .location__header

    &__header {
        &:not(:last-child) {
            margin-bottom: toRem(64);
            @media (max-width: $tablet) {
                margin-bottom: toRem(32);
            }
            @media (max-width: $mobile) {
                margin-bottom: toRem(11);
            }
        }
    }

    // .location__body

    &__body {
        font-family: "Inter", sans-serif;
        padding: toRem(24);
        display: flex;
        border-radius: toRem(24);
        box-shadow:
            0 toRem(16) toRem(32) toRem(-4) rgba($color: #0c0c0d, $alpha: 0.1),
            0 toRem(4) toRem(4) toRem(-4) rgba($color: #0c0c0d, $alpha: 0.1);

        gap: toRem(40);
        @media (max-width: toRem(991.98)) {
            column-gap: toRem(20);
        }
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }

    // .location__map

    &__map {
        border-radius: toRem(24);
        flex-shrink: 1;
        flex-grow: 0.2;
        flex-basis: toPercent(440, calc($maxWidthContainer - 48));
        min-height: toRem(391);
        @media (max-width: $smallMobile) {
            min-height: toRem(294);
        }
    }

    // .location__info

    &__info {
        flex: 1 1 toPercent(541, calc($maxWidthContainer - 48));
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        gap: toRem(40);
        line-height: 1.44;
        letter-spacing: toRem(-0.16);
        color: $darkColor;
        @media (max-width: toRem(991.98)) {
            column-gap: toRem(20);
        }
    }

    // .location__address

    &__address {
        flex: 0 0.5 toPercent(219, 541);
        padding-inline-end: toRem(20);
        text-wrap: balance;
        & > * {
            margin-bottom: toRem(12);
        }
        & > *:last-child {
            margin-bottom: 0;
        }
        @media (max-width: $tablet) {
            flex-grow: 1;
            min-width: toRem(219);
        }
    }
    //location__address-details
    &__address-details {
        margin-bottom: toRem(28);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .location__address-title

    &__address-title,
    &__schedule-title {
        font-size: toRem(22);
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: toRem(-0.792);
    }

    // .location__phone

    &__phone,
    &__mail {
        @include hover-underline($greenColor);
        transition: color 0.4s;
        @media (any-hover: hover) {
            &:hover {
                color: $greenColor;
            }
        }
    }

    // .location__direction

    &__direction {
        font-weight: 600;
        color: $greenColor;
        text-decoration: underline;
    }

    // .location__schedule

    &__schedule {
        @media (max-width: $tablet) {
            min-width: toRem(282);
        }
    }

    // .location__schedule-title

    &__schedule-title {
        &:not(:last-child) {
            margin-bottom: toRem(12);
        }
    }

    // .location__schedule-list

    &__schedule-list {
        & > *:not(:last-child) {
            margin-bottom: toRem(12);
        }
    }

    // .location__schedule-item

    &__schedule-item {
        display: flex;
        gap: toRem(20);
    }

    // .location__schedule-day

    &__schedule-day {
        flex: 0 0 toRem(87);
    }

    // .location__schedule-time

    &__schedule-time {
        & > :nth-child(2) {
            display: block;
        }
    }
}
// MENU page---------------------------------------------------

.menu {
    // .menu__bottom

    &__bottom {
        padding-block: toRem(64) toRem(110);
        @media (max-width: $tablet) {
            padding-block-end: toRem(94);
        }
        @media (max-width: $smallMobile) {
            padding-block: toRem(51) toRem(99);
        }
    }

    // .menu__sort-list

    &__sort-form {
        &:not(:last-child) {
            margin-bottom: toRem(64);
        }
    }

    // .menu__collection

    &__collection {
        @extend .specialties__collection;
        row-gap: toRem(64);

        @media (max-width: $mobile) {
            padding-inline: toRem(35);
        }
        @media (min-width: $smallMobile) and (max-width: $tablet) {
            column-gap: toRem(7);
        }
        @media (max-width: $smallMobile) {
            row-gap: toRem(20);
        }
    }
}

.form-sort {
    padding-inline: toRem(36);
    display: flex;
    flex-wrap: wrap;
    gap: toRem(10) toRem(20);
    font-size: toRem(26);
    line-height: 1.384;
    color: $darkColor;
    @media (max-width: toRem(429.98)) {
        padding-inline: toRem(15);
    }
    // .form-sort__checkbox

    &__checkbox {
        position: relative;
        &:has(:checked) {
            text-decoration: underline;
            color: $greenColor;
        }
    }

    // .form-sort__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}
// ABOUT page--------------------------------------------------

.about {
    // .about__header

    & .section-top__header {
        & .header-block__title {
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
        }
        & .header-block__text > p + p:last-child {
            margin-top: toRem(44);
            @media (max-width: $mobile) {
                margin-top: toRem(29);
            }
        }
    }
}
