$minWidth: 320;
$maxWidth: 1200;
$maxWidthContainer: 1060;
$containerPadding: 10;
$containerWidth: $maxWidthContainer + $containerPadding;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$greenColor: #1a4d2e;
$beigeColor: #e8dfca;
$whiteColor: #f5efe6;
